## Basic Python

### Algebraic operations

In [1]:
3 + 5 # Sum

8

In [2]:
3 * 5.2 # Product

15.600000000000001

In [3]:
6 - 4 # Subtraction

2

In [4]:
10 / 3 # Dvision

3.3333333333333335

In [5]:
10 // 3 # Integer division

3

In [6]:
10 % 3 # Modulo

1

In [8]:
5 ** 3 # Power

125

In [9]:
5 ** 0.5 # Square root

2.23606797749979

### Logic statements

In [1]:
1 == 1 # Equality

True

In [2]:
1 == 0

False

In [3]:
1 != 0 # Inequality

True

In [4]:
(1 == 1) and (2 == 2) # Logic AND

True

In [5]:
(1 == 0) and (2 == 2)

False

In [6]:
(1 == 0) or (2 == 2) # Logic OR

True

In [7]:
(1 == 1) and not (1 == 2) # Logic NOT

True

### Lists

In [10]:
[0, 2, 4, 5]

[0, 2, 4, 5]

In [8]:
l = [1, 3, 0, 3, 8, 2, 6, 4] # Define a variable

In [9]:
l

[1, 3, 0, 3, 8, 2, 6, 4]

In [10]:
len(l) # Number of elements

8

In [11]:
l[0] # First element

1

In [12]:
l[1] # Second element

3

In [13]:
l[-1] # Last element

4

In [14]:
l[-2] # Second-last element

6

In [15]:
l[2:5] # Elements from l[2] to l[4]

[0, 3, 8]

### Lists of lists

In [16]:
two_dimensions = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [17]:
two_dimensions[0]

[1, 2, 3]

In [18]:
two_dimensions[1][2]

6

### Loop through lists

In [20]:
mixed = [1, "hello", 3.4, 5/3, 'wow'] # Lists can mix different types

In [21]:
for element in mixed:
    print(element)

1
hello
3.4
1.6666666666666667
wow

In [22]:
numbers = [1/3, 2/3, 3/2, 4/5, 5/6]

In [23]:
for number in numbers:
    print(number)

0.3333333333333333
0.6666666666666666
1.5
0.8
0.8333333333333334

In [24]:
for number in numbers:
    print(f"{number}") # F-strings

0.3333333333333333
0.6666666666666666
1.5
0.8
0.8333333333333334

In [27]:
for number in numbers:
    print(f"{number:.2f}") # Format: round and print 2 decimal digits

0.33
0.67
1.50
0.80
0.83

In [28]:
for number in numbers:
    print(f"{number:.2f} {number + 1:.2f}")

0.33 1.33
0.67 1.67
1.50 2.50
0.80 1.80
0.83 1.83

### List comprehension

In [31]:
squares = [number ** 2 for number in numbers]

In [30]:
squares

[0.1111111111111111,
 0.4444444444444444,
 2.25,
 0.6400000000000001,
 0.6944444444444445]

In [33]:
n = len(numbers)

In [34]:
n

5

### Ranges

In [35]:
range(n)

range(0, 5)

In [36]:
for i in range(n):
    print(i)

0
1
2
3
4

In [37]:
for i in range(n):
    print(numbers[i])

0.3333333333333333
0.6666666666666666
1.5
0.8
0.8333333333333334

In [39]:
for i in range(n):
    print(f"Element in position {i} is {numbers[i]:.2f}")

Element in position 0 is 0.33
Element in position 1 is 0.67
Element in position 2 is 1.50
Element in position 3 is 0.80
Element in position 4 is 0.83

In [40]:
for i, number in enumerate(numbers):
    print(f"Element in poisition {i} is {number:.2f}")

Element in poisition 0 is 0.33
Element in poisition 1 is 0.67
Element in poisition 2 is 1.50
Element in poisition 3 is 0.80
Element in poisition 4 is 0.83

In [38]:
for i in range(n):
    print(f"{numbers[i]:.3f} squared is {squares[i]:.3f}")

0.333 squared is 0.111
0.667 squared is 0.444
1.500 squared is 2.250
0.800 squared is 0.640
0.833 squared is 0.694

### Tuples

In [44]:
(4, 5)

(4, 5)

In [46]:
example_list = ['red', 'blue', 'green']
example_tuple = ('red', 'blue', 'green')

In [47]:
example_list

['red', 'blue', 'green']

In [48]:
example_tuple

('red', 'blue', 'green')

In [49]:
example_list[0] = 'orange'

In [50]:
example_list

['orange', 'blue', 'green']

In [52]:
example_tuple[0] = 'orange' # Oops...

TypeError: 'tuple' object does not support item assignment

### Advanced uses of lists

#### Zipping

In [43]:
zip(numbers, squares) # Zips together two lists of equal length

In [42]:
for number, square in zip(numbers, squares):
    print(f"{number:.3f} squared is {square:.3f}")

0.333 squared is 0.111
0.667 squared is 0.444
1.500 squared is 2.250
0.800 squared is 0.640
0.833 squared is 0.694

#### Nested list comprehension

In [40]:
two_dimensions = [[1, 2, 3], [4, 5, 6], [7, 8, 9]] # Recall from above

In [41]:
flattened = [number for row in two_dimensions for number in row]

In [42]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Dictionaries

In [53]:
population_k = {
    'malaga': 570,
    'salamanca': 145,
    'pontevedra': 83,
    'barcelona': 1620,
    'logroño': 151
}

In [54]:
population_k

{'malaga': 570,
 'salamanca': 145,
 'pontevedra': 83,
 'barcelona': 1620,
 'logroño': 151}

In [55]:
population_k['malaga']

570

In [56]:
for city in population_k:
    print(f"{city} has {population_k[city]} thousand inhabitants")

malaga has 570 thousand inhabitants
salamanca has 145 thousand inhabitants
pontevedra has 83 thousand inhabitants
barcelona has 1620 thousand inhabitants
logroño has 151 thousand inhabitants

In [57]:
for city, pop in population_k.items():
    print(f"{city} has {pop} thousand inhabitants")

malaga has 570 thousand inhabitants
salamanca has 145 thousand inhabitants
pontevedra has 83 thousand inhabitants
barcelona has 1620 thousand inhabitants
logroño has 151 thousand inhabitants

## Flow control

In [1]:
a = 1
b = 2

In [2]:
if a == b:
    print("A equals B")
else:
    print("A not equal to B")

A not equal to B

In [3]:
if a > b:
    print("A > B")
elif a == b:
    print("A = B")
else:
    print("A < B")

A < B

In [4]:
for i in range(10):
    if i % 2 == 0:
        print(f"{i} is even")

0 is even
2 is even
4 is even
6 is even
8 is even

In [7]:
numbers = [1, 2, 3, 6, 7, 11, 14, 15, 17, 19, 20]

In [9]:
even = [n for n in numbers if n % 2 == 0]

In [10]:
even

[2, 6, 14, 20]